<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css" />

    <!-- UIkit JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
    <title>Cadastro de Estudante</title>
</head>

<body>
    <div class="uk-container uk-margin-large-top">
        <h1 class="uk-heading-line uk-text-center"><span>Cadastro de Idoso</span></h1>

        <form id="cadastroIdosoForm">
            <label for="dadosIdoso">Dados do Idoso:</label>
            <textarea id="dadosIdoso" rows="5" required></textarea>
            <button type="submit">Cadastrar</button>
        </form>

    </div>
    <script src="../renderer.js"></script>
</body>

</html>